{% extends 'mainapp/base.html'%}
{% load static %}


{% block styles %}
  <link rel="stylesheet" href="{% static 'css/blogs.css' %}">
{% endblock %}


{% block content %}
<div class="container-fluid justify-content-md-center blog_detail_wrapper">

  <div class="blog-image-wrapper">
    <img class="big-image" src="{{blog.photo.url}}" alt="" />
  </div>

  <div class="blog-caption-wrapper">
    <h1 class="display-3 blog-caption-text ">
      {{ blog.caption_text}}
    </h1>
  </div>


  <div class="blog-body-wrapper">
    <div class="main-text break-word">
      {{blog.blog_text|safe|linebreaks  }}
    </div>
  </div>

</div>

{% endblock %}


{% block bottom_content%}
<div class="post_info-wrapper">
  <p>
    edited {{blog.updated|timesince}} ago
  </p>

    <p>
      author:{{blog.author.username}}
    </p>
  </div>


{% endblock %}
