{% extends 'mainapp/base.html'%}
{% load static %}
{% load columns %}
{% load blog_extras %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/blogs.css' %}">
{% endblock %}


{% block content%}

<div class="container-fluid blogs-list">

      {% for row in object_list|columns:3 %}
      <div class="row">
            {% for blog in row %}
              <div class="col ">
              <div class="col blog-wrapper">


                <a class="blog-link" href="{% url 'blog_detail' blog.id %}">
                <div class="blog-image-wrapper">
                  <img class="blog-image" src="/media/{{blog.photo}}" alt="" />
                </div>


                <div class="blog-caption-wrapper">
                  <h2 class="blog-caption-text">
                    {{blog.caption_text}}
                  </h2>

                  <span class="text-muted timestamp">
                    {{ blog.created|human_time }}
                  </span>

                  <span class="text-muted username">
                    @{{blog.author.username}}
                  </span>
                </div>

                <div class="blog-body-wrapper">
                  <div class="blog-body-text">
                    {{blog.blog_text|safe|truncatewords:25 }}
                  </div>
                </div>
                </a>
          </div>
            </div>
            {% endfor %}

      </div>
      {% endfor %}

{% endblock %}


{% block bottom_content%}
  {% if is_paginated %}
 {% include 'blog/pagination.html'%}
  {% endif %}
{% endblock %}
